# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# AIzaSyDpEHBBCPDSGpqRJ1V_DmkJm13T1nxXXvw
g_key

'AIzaSyDpEHBBCPDSGpqRJ1V_DmkJm13T1nxXXvw'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = pd.read_csv("output_data/cities.csv")
city_data

,City_ID,City Name,Latitude,Longitude,Temperature,Cloudiness,Humidity,Wind Speed,Country
0,0,hermanus,-34.4187,19.2345,73.00,83,74,8.99,ZA
1,1,kralendijk,12.1500,-68.2667,77.00,20,78,8.05,BQ
2,2,tera,14.0078,0.7531,80.20,24,16,5.64,NE
3,3,dikson,73.5069,80.5464,-22.32,100,88,8.97,RU
4,4,mataura,-46.1927,168.8643,55.99,93,79,11.01,NZ
...,...,...,...,...,...,...,...,...,...
580,580,pemangkat,1.1667,108.9667,82.42,72,71,5.70,ID
581,581,florianopolis,-27.6146,-48.5012,72.00,0,83,5.75,BR
582,582,korla,41.7597,86.1469,53.56,3,39,6.64,CN
583,583,camana,-16.6228,-72.7111,72.12,21,78,4.90,PE
584,584,north bend,43.4065,-124.2243,41.00,1,93,6.91,US

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [7]:
locations = city_data[["Latitude","Longitude"]]
humidity = city_data["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
city_data_narrow = city_data.loc[(city_data["Temperature"] < 80) & (city_data["Temperature"] > 70) \
                                    & (city_data["Wind Speed"] < 10) \
                                    & (city_data["Cloudiness"] == 0)].dropna()

city_data_narrow

,City_ID,City Name,Latitude,Longitude,Temperature,Cloudiness,Humidity,Wind Speed,Country
42,42,bulembu,-25.9667,31.1333,71.01,0,78,2.30,SZ
45,45,santa cruz,-17.8000,-63.1667,73.40,0,94,2.30,BO
109,109,salalah,17.0151,54.0924,73.40,0,38,3.44,OM
122,122,pokhara,28.2333,83.9833,78.55,0,17,4.83,NP
180,180,kidal,18.4411,1.4078,73.17,0,18,7.99,ML
181,181,pisco,-13.7000,-76.2167,73.40,0,78,3.44,PE
186,186,east london,-33.0153,27.9116,73.40,0,46,4.61,ZA
194,194,simao,22.7886,100.9748,77.83,0,23,8.48,CN
210,210,belmonte,-15.8631,-38.8828,75.20,0,78,4.61,BR
221,221,tansen,27.8673,83.5467,76.08,0,19,2.82,NP
267,267,biu,10.6129,12.1946,73.15,0,18,3.13,NG
269,269,lazaro cardenas,17.9583,-102.2000,72.93,0,86,2.89,MX
318,318,gashua,12.8710,11.0482,70.09,0,19,4.72,NG
368,368,bitkine,11.9801,18.2138,73.56,0,19,5.46,TD
372,372,ati,13.2154,18.3353,73.09,0,17,6.91,TD
400,400,dzilam gonzalez,21.2833,-88.9333,70.36,0,66,7.70,MX
423,423,mushie,-3.0167,16.9000,71.83,0,89,2.08,CD
465,465,fowa,8.9167,6.4000,76.50,0,79,1.32,NG
481,481,tahoua,14.8888,5.2692,77.00,0,25,4.61,NE
493,493,neuquen,-38.9516,-68.0591,75.20,0,57,3.44,AR
505,505,juba,4.8517,31.5825,76.33,0,41,5.26,SS
528,528,ladario,-19.0047,-57.6017,72.34,0,50,2.24,BR
561,561,beloha,-25.1667,45.0500,72.12,0,81,6.44,MG
572,572,morondava,-20.2833,44.2833,73.58,0,80,5.21,MG
579,579,abu dhabi,24.4667,54.3667,73.40,0,28,3.44,AE
581,581,florianopolis,-27.6146,-48.5012,72.00,0,83,5.75,BR

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [44]:
hotel_df = city_data_narrow[["City Name", "Country", "Latitude", "Longitude"]].copy()
hotel_df["Hotel"] = ""
hotel_df

           City Name Country  Latitude  Longitude Hotel
42           bulembu      SZ  -25.9667    31.1333
45        santa cruz      BO  -17.8000   -63.1667
109          salalah      OM   17.0151    54.0924
122          pokhara      NP   28.2333    83.9833
180            kidal      ML   18.4411     1.4078
181            pisco      PE  -13.7000   -76.2167
186      east london      ZA  -33.0153    27.9116
194            simao      CN   22.7886   100.9748
210         belmonte      BR  -15.8631   -38.8828
221           tansen      NP   27.8673    83.5467
267              biu      NG   10.6129    12.1946
269  lazaro cardenas      MX   17.9583  -102.2000
318           gashua      NG   12.8710    11.0482
368          bitkine      TD   11.9801    18.2138
372              ati      TD   13.2154    18.3353
400  dzilam gonzalez      MX   21.2833   -88.9333
423           mushie      CD   -3.0167    16.9000
465             fowa      NG    8.9167     6.4000
481           tahoua      NE   14.8888     5.2692
493          neuquen      AR  -38.9516   -68.0591
505             juba      SS    4.8517    31.5825
528          ladario      BR  -19.0047   -57.6017
561           beloha      MG  -25.1667    45.0500
572        morondava      MG  -20.2833    44.2833
579        abu dhabi      AE   24.4667    54.3667
581    florianopolis      BR  -27.6146   -48.5012

In [45]:
list_hotels = []

params = {
    "radius": 5000,
    "types": "hotel",
    "keyword" : "hotel",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    
    latitudegoogle = row["Latitude"]
    
    longitudegoogle = row["Longitude"]
    
    params["location"] = f"{latitudegoogle},{longitudegoogle}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    name_address = requests.get(base_url, params=params)
    
    name_address = name_address.json()
    
    try:
        
        list_hotels.append(name_address["results"][0]["name"])
        
    except IndexError:
        
        list_hotels.append(np.nan)

In [50]:
hotel_df["Hotel"] = list_hotels
hotel_df.to_csv("output_data\hotels.csv")

In [54]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [56]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))